@font-face {
    font-family: GrandeeCP;
    src: url("../assets/Font/GrandeeCp.otf") format("opentype");
}

@font-face {
    font-family: Andada;
    src: url("../assets/Font/Andada-Regular.otf") format("opentype");
}

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.logo {
    float: right;
    display: inline-flex;
    margin-right: 60px;
}

.logo-image {
    box-sizing: unset;
    margin-left: 5px;
}

.kawung {
	width: 100px;
	height: 100px;
    position: absolute;
}

.kawung-img {
    max-width: 100%;
    max-height: 100%;
}

.kawung-img-active {
    animation: rotate 30s infinite linear;
}

.candidate-img {
    max-width: 100%;
    max-height: 100%;
    z-index: 4;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.candidate-img:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    transform: scale(1.1) translateY(5%);
}

.candidate-img-active {
    max-width: 100%;
    max-height: 100%;
    z-index: 4;
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    transform: scale(1.1) translateY(5%);
}

#candidate:hover {
    cursor: default;
}

.filter {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


@keyframes rotate {
    100% {
        transform: rotate(720deg);
    }
}

#kawung-atas {
    transform: translateX(-130px) translateY(-100px);
}

#kawung-bawah {
    display: inline;
    transform: translateX(140px) translateY(-20px);
}

.welcome {
	width: 50%;
    max-width: 720px;
    min-width: 720px;
	height: 50%;
	align-items: center;
    margin: 18vh auto 0 auto;
}

.welcome-image {
	width: 100%;
	height: 70%;
    overflow: hidden;
}

.thanks-image {
    border: solid 2px grey;
    width: calc(100% - 4px);
    height: 90%;
}

.inside {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
    z-index: 2;
}

form {
    width: 100%;
    padding: auto;
    overflow: auto;
}
input {
    width: 35%;
    margin: auto;
    margin-top: 25px;
    margin-left: 32%;
    text-align: center;
    height: 45px;
    font-size: xx-large;
}

#rule {
    margin-top: 9%;
    padding: 0 20px ;
}

#rule-kawung {
    transform: translateX(-50px) translateY(-20px);
}

.leftImage {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;

}

.rule-title {
    font-size: 30px;
    text-align: center;
}

.rule-desc {
    height: 49%;
    font-size: xx-large;
}

#rule-desc {
    padding: 20px 0 0 80px;
}

#ya {
    width: 65px;
    color: #349ab2;
}

#ya1 {
    width: 65px;
    color: #349ab2;
}

#ya2 {
    width: 65px;
    color: #349ab2;
}

#ya3 {
    width: 65px;
    color: #349ab2;
}

#ya4 {
    width: 65px;
    color: #349ab2;
}

#ya5 {
    width: 65px;
    color: #349ab2;
}

#ya6 {
    width: 65px;
    color: #349ab2;
}

#ok1 {
    width: 65px;
    color: #349ab2;
}

#ya2:after {
    background: #349ab2;
}

#ok1:after {
    background: #349ab2;
}

#lanjut {
    width: 65px;
    color: #0a3a51;
}

#lanjut:after {
    background: #0a3a51;
}

#belum {
    width: 140px;
    color: #0a3a51;
}

#belum1 {
    width: 140px;
    color: #0a3a51;
}

#belum2 {
    width: 140px;
    color: #0a3a51;
}

#belum:after {
    background: #0a3a51;
}

.rule-button {
    height: 40px;
    width: 70px;
    vertical-align: middle;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    padding: 0 !important;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.rule-button:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #382736;
}

.YA1:after {
    background: #349ab2;
}

#YA1:after {
    background: #349ab2;
}

#BELUM1:after {
    background: #0a3a51;
}

.rule-button:hover {
    cursor: pointer;
}

.rule-button:hover:after {
    width: 100%;
    left: 0;
}

.timer {
    position: absolute;
    margin: 30px 0px 0px 80px;
    width: 100px;
    height: 100px;
    border-radius: 80px;
    float : left;
    box-sizing: unset;
}

.vote-title {
    font-size: 30px;
    text-transform: uppercase;
    width: 400px;
    margin-top: 60px;
    text-align: center;
    border: solid 2px grey;
    margin-left: auto;
    margin-right: auto;
}

.vote-choose {
    margin: 20px;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.candidate {
    height: 45%;
    margin: 40px 30px;
}

.candidate:hover {
    cursor: pointer;
}

.kawung-kecil {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translateX(-30px) translateY(-20px);
    z-index: 0;
    color: black;
}

#candidate-container {
    margin-top: 50px;

}

.number {
    position: absolute;
    transform: translateY(-90px);
    font-family: GrandeeCP, SansSerif;
    font-size: 55px;
    font-weight: light;
    height: 100px;
    width: 100px;
}

.confirm-title {
    margin: 80px 0 30px 0;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.candidate-chosen {
    border: solid 2px grey;
    height: 50%;
    width: 20%;
    margin: 40px 30px;
}

.kawung-chosen {
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translateX(240px) translateY(-40px);
    z-index: 2;
    background-color: white;
}

.confirm {
    position: absolute;
    margin: 20px;
    margin-top: 40vh;
    height: 50px;
    width: 120px;
}

#accept,#accept2 {
    margin-left: calc(90%);
}
.thanks {
    width: 70%;
    max-width: 600px;
    min-width: 500px;
    height: 60%;
    align-items: center;
    margin: 20vh auto 0 auto;
}

#kawung-atas-rapat {
    transform: translateX(-80px) translateY(-10vh);
    z-index: 2;
    background-color: white;
}

#kawung-bawah-rapat {
    transform: translateX(590px) translateY(-20px);
    z-index: 2;
    background-color: white;
}
.begin {
    background-image: url("../img/selamat-datang.jpg");
}

.end {
    background-image: url("../img/terima-kasih.jpg");
}

.president {
    background-image: url("../img/latar-presiden.png");
}

.congress {
    background-image: url("../img/latar-congress.png");
}

.image-orang {
    text-align: center;
    position: absolute;
    bottom: 0px;
}

#image-orang-1 {
    margin-left: 50px;
    width: 600px;
}

#image-orang-2 {
    margin-left: 135px;
    width: 440px;
}

#thanks {
    transform: translateY(20px);
}

.ornamen1 {
    background-image: url("../img/ornamen-1.png");
}

.ornamen2 {
    background-image: url("../img/ornamen-2.png");
}

.kawung1 {
    background-image: url("../img/kawung-2.png");
    background-size: 330px auto;
}

.kawung2 {
    background-image: url("../img/kawung-3.png");
    background-size: 330px auto;
}

.kawung3 {
    background-image: url("../img/kawung-1.png");
    background-size: 180px auto;
    background-repeat: no-repeat;
}

.kawung-top {
    height: 330px;
    width: 330px;
    margin: -90px 0 0 140px;
}

.kawung-down {
    height: 200px;
    width: 200px;
    margin: 220px 0 0 360px;
}

.ornamen-left {
    width: 50px;
    height: 100%;
    margin-left: 40px;
    position: absolute;
    background-size: 50px auto;
    background-repeat: repeat-y;
    -webkit-animation: slide-up 40s linear infinite;
}

@-webkit-keyframes slide-up {
    from { background-position: 0 0; }
    to { background-position: 0 -626px; }
}

.ornamen-right {
    float: right;
    width: 50px;
    height: 100%;
    margin-right: 40px;
    position: relative;
    background-size: 50px auto;
    background-repeat: repeat-y;
    -webkit-animation: slide-down 40s linear infinite;
}

@-webkit-keyframes slide-down {
    from { background-position: 0 -626px; }
    to { background-position: 0 0px; }
}

.rotate-left {
    -webkit-animation: rotate-left 80s linear infinite;
}

.rotate-right {
    -webkit-animation: rotate-right 40s linear infinite;
}

@-webkit-keyframes rotate-left {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}

@-webkit-keyframes rotate-right {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.grande {
    font-family: "GrandeeCP", serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #382736;
}

.z-index-2 {
    z-index: 2;
}

.down {
    position: absolute;
    bottom: 0;
}

.rule-pict {
    transform: translateX(70%);
}

.oke {
    margin-left: calc(50% - 63px);
    display: flex;
}

#tombol {
    transition: opacity linear 0.2s;
    opacity: 0;
    display: none;
}

.yes {
    position: absolute;
}

.no{
    position: absolute;
    transform: translateX(-150%);
}

.bercak {
    width: 30px;
    height: 35px;
    margin: auto 0;
}

.flex {
    display: inline-flex;
    width: auto;
}

.title {
    display: block;
}

.pemira {
    font-family: "GrandeeCP", SansSerif;
    font-size: 40px;
}

.title-desc {
    font-family: "GrandeeCP", SansSerif;
    font-size: 25px;
}

.heading {
    margin: 10px 10px;
    white-space: nowrap;
    font-size: 0;
}

.vote-logo {
    transform: translateY(17px);
    height: 60px;
    width: auto;
}

#ornamen-kanan {
    position: fixed;
    bottom: 0;
    left: 0;
}

#ornamen-kiri {
    position: fixed;
    bottom: 0;
    right: 0;
}

.box {
    border-bottom: solid 2px #191115;
    height: 85%;
    margin-bottom: 4px;
    overflow: hidden;
}

.candidate-name {
    font-family: Andada, SansSerif;
    font-size: 20px;
    font-weight: lighter;
}

.confirmation-question {
    position: absolute;
    background-image: url("../img/yakin.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    transform: translate(60%, 70%);

}

.confirmation-candidate {
    position: absolute;
    transform: translate(370%, 44%);
}